body
{
    margin: 0;
}

button
{
    cursor: pointer;
}

.face
{
    grid-template-rows: 60px 200px 100px 150px 470px;
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-column-gap: 5px;
    font: 20px Arial;
    display: grid;
    grid-template-areas: 'city ph ph config mail_control'
        'ph1 news news ad ph3'
        'logo s s s ph3'
        'ph4 wa wa wa ph3'
        'ph4 w1 w2 w3 ph3';
}

.city
{
    text-align: center;
    padding-top: 10px;
    grid-area: city;
    font-size: .7em;
    color: #999;
}

.config
{
    margin: 5px;
    padding-top: 10px;
    grid-area: config;
    font-size: .7em;
    text-align: right;
}

.mail_control_container
{
    grid-area: mail_control;
    display: flex;
    justify-content: flex-end;
}

.mail_control
{
    margin: 7px;
    box-shadow: 0 0 10px #b9b9b9;
    padding: 5px;
    font-size: .75em;
    border-radius: 5px;
    width: 200px;
}

.login
{
    margin-bottom: 3px;
}

.login:first-letter
{
    color: red;
}

.amount
{
    margin-left: 5px;
}

.news
{
    grid-area: news;
    margin-bottom: 20px;
}

a
{
    text-decoration: none;
}

a:hover
{
    cursor: pointer;
    color: #c00;
}

.all_news_link
{
    font-size: .9em;
}

.local_news_link
{
    font-size: .7em;
    color: #6da2e1;
}

.news_date
{
    color: #999;
    font-size: .5em;
}

.news_block
{
    font-size: .65em;
    padding-left: 0;
    margin-bottom: 0;
}

.news_block li
{
    margin-bottom: 10px;
}

.stock_item
{
    display: inline-block;
    font-size: .7em;
    margin-right: 5px;
}

.advert
{
    grid-area: ad;
}

.advert img
{
    width: 120px;
}

.advert_title
{
    display: block;
    color: #0054b9;
    font-size: .9em;
    margin-top: 5px;
}

.advert_content
{
    font-size: .6em;
    margin-top: 10px;
}

.logo
{
    text-align: center;
    margin-top: 18px;
    vertical-align: bottom;
    grid-area: logo;
    font-size: 2em;
}

.logo:first-letter
{
    color: red;
}

.search
{
    grid-area: s;
}

.tabs
{
    font-size: .75em;
    margin-bottom: 5px;
}

.tab_link
{
    margin-right: 10px;
}

.search_box
{
    height: 36px;
    font-size: 0;
}

.search_control
{
    width: calc(100% - 90px);
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ffdb4d;
    vertical-align: top;
}

.search_button
{
    vertical-align: top;
    height: 100%;
    background-color: #ffdb4d;
    border-radius: 0;
    border: none;
    width: 90px;
    padding: 0;
}

.search_hint
{
    margin-top: 5px;
    font-size: .65em;
    margin-bottom: 10px;
}

.search_hint_example
{
    color: #999;
}

.wide_advert
{
    grid-area: wa;
    margin-bottom: 50px;
    background-image: url('mountains.jpeg');
    background-size: 100%;
}

.widgets_column
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.widgets_column_1
{
    grid-area: w1;
}

.widgets_column_2
{
    grid-area: w2;
}

.widgets_column_3
{
    grid-area: w3;
}

.widget
{
    margin-bottom: 20px;
    align-content: flex-start;
    font-size: .9em;
    max-width: 270px;
    display: none;
}

.temperature
{
    margin-left: 10px;
}

.temperature_prediction,
.service_description,
.tv_list_item,
.news_article,
.traffic_description
{
    font-size: .8em;
    margin-top: 10px;
}

.tv_online
{
    background-image: linear-gradient(to right, #00a3fa, #716ef8);
    color: #fff;
    margin-left: 10px;
    height: 25px;
    font-size: .9em;
    border: none;
}

.channel
{
    color: #999;
    font-size: .9em;
}

.joke
{
    font-size: .8em;
}

.joke_selector_label
{
    font-size: .8em;
    margin-left: 25px;
}

.joke,
.joke_selector,
.joke_selector_label
{
    display: none;
}

.joke_selector[id='joke1']:checked ~ ul .joke1,
.joke_selector[id='joke2']:checked ~ ul .joke2,
.joke_selector[id='joke3']:checked ~ ul .joke3,
.joke_selector[id='joke4']:checked ~ ul .joke4,
.joke_selector[id='joke5']:checked ~ ul .joke5
{
    display: list-item;
}

.joke_selector[id='joke1']:checked ~ .joke1,
.joke_selector[id='joke2']:checked ~ .joke2,
.joke_selector[id='joke3']:checked ~ .joke3,
.joke_selector[id='joke4']:checked ~ .joke4,
.joke_selector[id='joke5']:checked ~ .joke5
{
    display: block;
}

.maps_title
{
    display: block;
}

.maps_map_choice
{
    font-size: .8em;
    color: #000;
    margin-left: 5px;
}

.auto_news_articles
{
    max-height: 200px;
    overflow: scroll;
}

.time
{
    color: #999;
}

.widget_selector
{
    display: none;
}

.widget_selectors_popup
{
    display: none;
}

.widget_popup
{
    cursor: pointer;
}

.widgets_selectors_control
{
    display: none;
    position: relative;
    margin-top: 10px;
    width: 200px;
    border: 1px solid black;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 3px 3px #999;
    margin-left: 145px;
    padding: 5px;
}

.widget_selector_label
{
    display: block;
    text-align: left;
}

.widget_selector_label::before
{
    content: '   ';
    border: 1px solid black;
    padding-left: 17px;
    margin-right: 5px;
    margin-bottom: 2px;
}

input[id='widget_services']:checked ~ div label[for='widget_services']::before,
input[id='widget_tv']:checked ~ div label[for='widget_tv']::before,
input[id='widget_jokes']:checked ~ div label[for='widget_jokes']::before,
input[id='widget_news']:checked ~ div label[for='widget_news']::before,
input[id='widget_weather']:checked ~ div label[for='widget_weather']::before,
input[id='widget_traffic']:checked ~ div label[for='widget_traffic']::before,
input[id='widget_maps']:checked ~ div label[for='widget_maps']::before
{
    border: 1px solid black;
    padding: 0 2px;
    content: '✔';
}

input[id='widget_services']:checked ~ .widgets_column .services,
input[id='widget_tv']:checked ~ .widgets_column .tv,
input[id='widget_jokes']:checked ~ .widgets_column .jokes,
input[id='widget_news']:checked ~ .widgets_column .auto_news,
input[id='widget_weather']:checked ~ .widgets_column .weather,
input[id='widget_traffic']:checked ~ .widgets_column .traffic,
input[id='widget_maps']:checked ~ .widgets_column .maps
{
    display: block;
}

input[id='widget_popup']:checked ~ .widgets_selectors_control
{
    display: block;
}

.widget_img{
    vertical-align: middle;
}
